*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todo-container {
    height: 5vh;
    width: 80vw;
    margin-top: 10vh;
    border-radius: 10px ;
    padding: 10px;
    margin-left: 5vw;
}
.addbutton {
    height: 5vh;
    min-width: 10vw;
    margin-top: 10vh;
    background-color: greenyellow;
    border-style: none;
    border-radius: 10px;
    
}

ul li {
    list-style-type: none;
    margin: 10px;
}
.addbutton:hover {
    background-color: limegreen;
}

.box {
    
    min-height: 60vh;
    width: 90vw;
    background-color: greenyellow;
    margin-top: 5px;
    margin-left: 5vw;
}
.todobtn {
    min-height: 50px;
    min-width: 50px;
    float: right;
    margin: 5px;
    padding: 5px;
}
.listyle {
    font-size: 18px;
    line-height: 60px;
}
.strike {
    text-decoration: line-through;
}
body {
    background-image: linear-gradient(to right, #ffe5b4 , skyblue);
}