*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    min-height: 90vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5vh;
    margin-left: 10vw;

}
.todo-container {
    height: 7vh;
    width: 59vw;
    /* margin-top: 10vh; */
    border-radius: 10px ;
    padding: 10px;
    margin-left: 5vw;
    border: none;
    background-color: whtie;
    color: rgb(0, 0, 0);
    font-size: 2vh;


}
.addbutton {
    height: 7vh;
    min-width: 10vw;
    margin-top: 10vh;
    background-color: black;
    border-style: none;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 1vw;

    
}

ul li {
    list-style-type: none;
    margin: 10px;
    line-height: 60px;
    color: rgb(0, 0, 0);
}
.addbutton:hover {
    background-color: limegreen;
}

.box {
    
    min-height: 30px;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5vw;
    border: none;;
    padding: 5px;
    padding: 0 30px;
font-size: 18px;
    
}
.todobtn {
    min-height: 50px;
    min-width: 50px;
    float: right;
    margin: 5px;
    padding: 5px;
    
}
.listyle {
    font-size: 18px;
    line-height: 30px;
}
.strike {
    text-decoration: line-through;
    background-color: rgba(40, 255, 40, 0.72);
    color: rgb(159, 0, 0);
}
body {
    background-image: url("../images/1.jpg");
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;

}
